<!DOCTYPE html>
<html>
<head>
  <title>WebSticker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= bootstrap_flash %>
  <%= render 'layouts/menu' %>

<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidemenu' %>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
